<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>Заказы</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"
      integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css"
    />
  </head>
  <body>
    <div id="admin">
      <v-app>
        <template v-if="!isLoading">
          <v-container class="pt-5 pt-md-16 px-lg-16">
             <div v-if="id===null">
              <v-row class="justify-center">
                <v-col cols="12">
                    <v-row class="mb-10">
                      <v-col cols="6" sm="6" class="text-center ma-0 pr-0 pt-0">
                        <v-btn
                          large
                          @click="isDone = false; getOrders(true)"
                          router
                          block
                          style="background: rgba(231, 133, 55, 0.3); color: #E78537;text-transform: unset !important;"
                          class="rounded-t-lg rounded-b-0 text-caption text-sm-body-1"
                          :class="{ 'black--text white': isDone }"
                        >
                          Активные заказы
                        </v-btn>
                      </v-col>
                      <v-col cols="6" sm="6" class="ma-0 pl-0 pt-0">
                        <v-btn
                          large
                          @click="isDone = true; getOrders(true)"
                          block
                          router
                          style="background: rgba(231, 133, 55, 0.3); color: #E78537;text-transform: unset !important;"
                          class="rounded-t-lg rounded-b-0 text-caption text-sm-body-1"
                          :class="{ 'black--text white': !isDone }"
                        >
                          Готовые заказы
                        </v-btn>
                      </v-col>
                    </v-row>
                    <div v-for="order in orders" :key="order.id">
                      <v-card class="px-6 px-sm-12 mb-10 py-8">
                        <v-row class="align-center justify-space-between">
                          <v-col class="px-0" cols="12" sm="1" md="2">
                            <a
                              class="font-weight-bold d-inline-block py-1 px-5 mb-0 text-subtitle-2
                              text-sm-subtitle-1"
                              style="color: black;background: rgba(231, 133, 55, 0.3);border-radius: 4px;
                              text-decoration:none;"
                              :href="'?id=' + order.id"
                              >
                              #{{ order.id }}
                            </a>
                          </v-col>
                          <v-col class="px-0 " cols="12" sm="6">
                            <p
                              v-for="product in order.products"
                              class="mb-0 font-weight-medium text-body-1">
                                {{ product.name }} ({{ product.amount }})
                            </p>
                            <span
                              v-if="order.comment != ''"
                              class="text-body-2 grey--text font-weight-medium">
                                * {{ order.comment }}
                            </span>
                          </v-col>
                          <v-col class="px-0" cols="12" sm="3">
                            <v-btn
                              v-if="order.isDone === 'False'"
                              style="text-transform: unset !important;"
                              block
                              class="white--text text-body-1 font-weight-normal"
                              @click="done(order.id)"
                              color="#E78537"
                            >
                              Готово
                            </v-btn>
                            <p
                              v-else
                              style="text-transform: unset !important;background:rgba(231, 133, 55, 0.3);border-radius: 4px;"
                              block
                              class="text-center py-2 font-weight-medium text-no-wrap"
                              color="rgba(231, 133, 55, 0.3)"
                            >
                              Заказ выполнен
                            </p>
                          </v-col>
                        </v-row>
                      </v-card>
                    </div>
                </v-col>
              </v-row>
            </div>
            <div v-else class="">
              <v-row class="mb-6">
                <v-col>
                  <v-row class="mb-0 mb-sm-7">
                <v-col class="py-0 pa-sm-3">
                  <a
                    href="/admin.html"
                    class=""
                    style="text-decoration: none;">
                  <v-btn
                    text
                    class="font-weight-medium text-body-1 text--black px-0"
                    style="text-transform: unset !important;">
                    <v-icon>
                      mdi-arrow-left
                    </v-icon>
                    Назад
                  </v-btn>
                  </a>
                </v-col>
              </v-row>
              <v-row class="mb-7">
                <v-col class="py-0 d-flex justify-end d-sm-block">
                  <p class="font-weight-bold d-inline-block py-2 px-5 mb-0
                    text-subtitle-1"
                    style="background:rgba(231, 133, 55, 0.3);border-radius: 4px;">
                      Заказ #{{order.id}}
                  </p>
                </v-col>
              </v-row>
                <v-row>
                    <v-col class="pa-0 d-flex justify-end">
                <span
                  v-if="order.isDone != 'False'"
                  style="border-radius: 4px"
                  class="success text-h6  pa-2 white--text"
                >
                  Готово
                </span>
                <span
                  v-else
                  style="border-radius: 4px"
                  class="grey lighten-1 text-h6 pa-2 white--text"
                >
                  Не готово
                </span>
                <span
                  v-if="order.isPaid != 'False'"
                  style="border-radius: 4px"
                  class="ml-3 mr-3 mr-md-0 success text-h6  pa-2 white--text"
                >
                  Оплаченно
                </span>
                <span
                  v-else
                  style="border-radius: 4px"
                  class="grey lighten-1 ml-3 mr-3 mr-md-0 text-h6 pa-2 white--text"
                >
                  Не оплаченно
                </span>
                </v-col>
                </v-row>
              <v-row>
                <v-col>
                  <div v-for="product in order.products" :key="product.id">
                    <span class="text-subtitle-1 font-weight-medium">{{ product.name }}</span>
                    <span class="text-subtitle-1 font-weight-medium">({{ product.amount }})</span>
                    -
                    <span class="text-subtitle-1 font-weight-medium">{{ product.sum }}c</span>
                  </div>
                </v-col>
              </v-row>
              <p 
                class="text-body-2 grey--text font-weight-medium"
                v-if="order.comment != ''">
                * {{order.comment}}
              </p>
                </v-col>
              </v-row>
              <v-divider></v-divider>
              <p class="mt-6 text-h6 font-weight-bold text-uppercase text-end">
                Общая сумма: {{order.sum}}c
              </p>
            </div>
          </v-container>
      </template>
      <template v-else>
          <v-container>
            <div style="margin-top: 130px">
              <v-row v-for="order in orders" :key="order.id" class="justify-center">
                <v-col cols="12">
                  <div class="grey lighten-2 py-16 py-md-13 rounded-md"></div>
                </v-col>
              </v-row>
            </div>
          </v-container>
      </template>
    </v-app>
    </div>
    <script src="admin.js"></script>
  </body>
</html>
