<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>Номер заказа</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://telegram.org/js/telegram-web-app.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"
    integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" />
</head>
<body>
  <div id="app">
    <v-app>
      <div v-if="order == null" class="grey lighten-3 pt-16" style="height: 100vh;">
            <v-container>
              <v-row class="px-2 mt-16 mb-2">
                <v-col class="white">
                  <v-text-field
                    v-model="order_id"
                    type="number"
                    class="font-weight-bold"
                    solo flat
                    hide-details
                    placeholder="Введите номер заказа"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col class="d-flex justify-end">
                  <v-btn
                    class="white--text py-5"
                    block
                    @click="apply"
                    large dark
                    color="#E78537"
                  >
                    Получить баллы
                  </v-btn>
                </v-col>
              </v-row>
            </v-container>
      </div>
      <div v-else class="grey lighten-3 pt-16" style="height: 100vh;">
          <v-container>
            <v-card class="pa-4">
              <v-row>
                <v-col class="py-0">
                  <p class="text-button text-end">
                    Заказ #{{ order.id }}
                  </p>
                </v-col>
              </v-row>
              <v-row class="px-3">
                  <p class="text-h6">Заказ:</p>
              </v-row>
                  <p v-for="product in order.products" :key="product.id">
                    {{product.name}} ({{product.amount}}) - {{ product.sum }} сом
                  </p>
                  <v-divider></v-divider>
                  <p class="text-end mt-2 text-uppercase font-weight-bold">
                    Общая сумма: {{ order.sum }}
                  </p>
            </v-card>
          </v-container>
      </div>
    </v-app>
  </div>
  

  <script src="./get_point.js"></script>
</body>
</html>